.navegador{
    background-color:#594A3E;
    .listaNav{
        list-style: none;
        color: white;
        li{
            padding: 30px;
            font-size: 18px;
            a{
                text-decoration: none;
            }
        }
    }
}
