.nosotrosTexto{
    height: 700px;
}
.nosotrosInfo2{
    background-color: #594A3E;
    height: 400px;
    .nosotrosSubtitulo{
        color: black;
    }
    .imagenNos{
        border-radius: 50%;
    }
}